@keyframes shuffle {
    0% { background-image: url(images/bg1.jpg); }
    25% { background-image: url(images/bg2.jpg); }
    50% { background-image: url(images/bg5.jpg); }
    75% { background-image: url(images/bg4.jpg); }
    100% { background-image: url(images/bg1.jpg); } 
  }

  /* Default styles */
.main {
  animation: shuffle 20s infinite ease;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.nav-item {
  margin-right: 40px;
}
.nav-link {
  position: relative;
  color: green;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: white; 
background-color:#ff7200;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}

.content .par {
  padding-left: 100px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: 'impact';
  font-size: 80px;
  padding-left: 100px;
  margin-top: 3%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10%;
  margin-left: 100px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover {
  background-color: #fff;
}

.content span {
  color: #ff7200;
  font-size: 100px;
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .main {
    justify-content: space-around;
  }
 .content {
    width: 100%;
  }
  .content .par{
    padding-left: 20px;

  }
  .content h1 {
  padding-left: 20px;
  font-size: 50px;
  }
  .content .cn {
    margin-left:20px ;
  }
  .content span {
    color: #ff7200;
    font-size: 65px;
  }
  
}

/* Default styles */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.car-columns {
  column-count: 3; /* Default number of columns */
  column-gap: 1rem; /* Gap between columns */
}

.card {
  display: inline-block;
  width: 100%; /* Ensures cards take full width by default */
  margin-bottom: 1rem; /* Spacing between cards */
  overflow: hidden; /* Hide overflowing content */
  border-radius: 0.25rem; /* Rounded corners */
  transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95), box-shadow 0.3s ease; /* Transition effect */
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1); /* Shadow effect */

}

.card:hover {
  transform: translateY(-10px); /* Move card up on hover */
  box-shadow: 0 4px 6px rgb(109, 109, 230); /* Larger box shadow on hover */
}

.card a {
  display: block; /* Ensure <a> tag fills entire card */
  color: inherit; /* Inherit text color */
}

.card-body {
  padding: 1rem; /* Padding inside the card body */
}

.card-text {
  margin-bottom: 0; /* Remove bottom margin from card text */
}

footer{
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  }
  .foott{
  font-size:12px;
  }	
@media (max-width: 768px) {
  
  .mg{
    width:70%;
  }
}
